<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div class="main">
        <% if (user.role=="manager"){ %>
            <button onclick="window.location.href='/addbook'">Add A Book</button>
        <% } %>
        <table>
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Book Title</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="bookList">
                <% for (let data of bookdatas){ %>
    
                    <tr>
                        <td><%=data.Sno %></td>
                        <td><%=data.Bookname %></td>
                        <td><%=data.stock %></td>
                        <% if (user.role=="user"){ %>
                            <td><button onclick="window.location.href='/issuebook/<%= data._id %>'">Issue Book</button>
                            <button onclick="window.location.href='/returnbook/<%= data._id %>'">Return Book</button></td>
                        <% }; %>
                        <% if (user.role=="manager"){ %>
                            <td> <form style="display: inline;" method="post" action="/books_detail/<%= data._id %>/?_method=DELETE"><button>Delete Book</button></form>
                            <button onclick="window.location.href='/editbook/<%= data._id %>'">Edit Book</button></td>
                        <% } %>
                        
                    </tr>

                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>